<div class = "contents text-center">
  <div class = "form">
    <%= form_tag("/poker", method: :post) do %>
      <%= text_field_tag :cards, @cards, class: "bg-light", placeholder: "C10 S11 D12 H13 S1" %>
      <%= submit_tag "submit", class: "text-white bg-success" %>
    <% end %>
  </div>
  <div class="result mt-4">
    <p><%= @result %></p>
  </div>
  <!--  flashメッセージの読み込み-->
  <%= render 'layouts/flash_messages' %>
</div>

