<!DOCTYPE html>
<html>
<head>
  <title>Poker App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class = "container">
<div class = "container bg-light mt-3">
  <h1 class="text-center pt-3 mb-4 text-info"> Check a Poker Hand </h1>

  <%= yield %>
  <footer class="font-weight-lighter text-center pt-3 pb-2">©Copyright 2020 pokerhands All Rights Reserved.</footer>
</div>
</body>
</html>
