<!DOCTYPE html>
<html>
<head>
  <title>Poker App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class = "container">
  <h1> Check a Porker Hand </h1>
  <%= yield %>
  <footer>©Copyright 2020 porkerhands All Rights Reserved.</footer>
</div>
</body>
</html>
